.login-background {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.newsweek.com%2Fmost-endangered-animals-planet-and-why-they-remain-under-threat-1053986&psig=AOvVaw1QvBnyUnD0lNSbFlorC7sa&ust=1580569530538000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDThr6OrucCFQAAAAAdAAAAABAD);
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
        